html, body {
    font-family: 'Lato', sans-serif;
}

.main{
    display: block;
    margin: 0 auto;
    z-index:10;
    position: absolute;
    text-align: center;
    width: 90%;
    top:25%;
    left:5%;
}

.main h1{
    color: rgba(0,0,0,0.6);
    font-size: 70px;
}

.main h2{
    font-size:50px;
    color: rgba(0,0,0,0.6);
}