@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --palettte-off-white: #f9f9f9;
    --palette-light-grey: #D3D3D3;
    --palette-transparent-grey: #d3d3d33d;
    --palette-dark-grey: #373737;
    --palette-almost-black: #060D13;
    --palette-grey: #6f6f6f;
    --sidebar-width: 250px;
    /* --palette-grey: #a5a5a5; */
}

.layout-options .button {
    background-color: var(--palette-light-grey);
    cursor: pointer;
    display: block;
    width: 50%;
    padding: 5px 10px;
    color: var(--palette-dark-grey);
    border: 1px solid black;
    text-decoration: none;
    margin: 0 auto;
}

.layout-options .button.active{
    background-color: var(--palette-dark-grey);
    color: white;
}

.layout-options .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.logo-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-container h1 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.sidebar {
    position: absolute;
    top: 0;
    padding: 0;
    background-color: var(--palettte-off-white);
    border-right: 1px solid var(--palette-dark-grey);
    z-index: 10;
    width: var(--sidebar-width);
    height: 100%;
    transition: all .1s linear 0s;
    padding: 10px 10px;
    box-sizing: border-box;
    color: var(--palette-dark-grey);
}

.sidebar.hidden{
    margin-left: calc(var(--sidebar-width)*-1);
    transition: all .1s linear 0s;
}

.main{
    width: 100%;
    height: 100%;
}

.main.hidden{
    left: var(--sidebar-width);
}

.legend-text {
    font-size: 16px;
}

/* normal topbar */
.topbar {
    padding-left: 7px;
    font-size: 14px;
    width: 100%;
    height: 35px;
    float: left;
    position: absolute;
    vertical-align: middle;
    display: flex; align-items: center;
}

.topbar .stats .label {
    border-radius:2px;
    border: none;
    background-color: var(--palette-light-grey);
    color: var(--palette-grey);
    padding: 2px 4px;
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
}

.two-label {
    width: 80px;
    margin-right: 3px;
    display: flex;
    vertical-align: middle;
}

.two-label .first {
    width: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 1px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--palette-grey);
    color: var(--palette-light-grey);
}

.two-label .second {
    width: calc(80px - 20px);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--palette-light-grey);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: var(--palette-grey);
}

.topbar .label.bold{
    font-size: 20px;
    font-weight:600;
    margin-right:3px;
    margin-left: 10px;
}

input[type=text].symbol {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid var(--palette-light-grey)!important;
    text-align: center;
    width: 65px;
    padding-top: 3px;
}

input[type=text].symbol:focus {
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--palette-dark-grey)!important;
}

.topbar .control {
    display: flex; align-items: center;
    width: 60%;
}

.topbar .stats {
    display: flex; align-items: center;
    margin-right: 15px;
    margin-left: auto;
}

.topbar .button {
    background-color: var(--palette-light-grey);
    border: none;
    color: var(--palette-grey);
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 1px;
    margin-left: 1px;
    vertical-align: middle;
    align-items: center;
}

.topbar .button.active {
    background-color: var(--palette-grey);
    color: white;
}

.topbar .label {
    /* font-size: 12px; */
    margin-right:3px;
}

/* small topbar */

.topbar.small{
    padding-left: 7px;
    font-size: 11px;
    width: 100%;
    height: 25px;
    float: left;
    position: absolute;
    vertical-align: middle;
    display: flex; align-items: center;
}

.topbar.small .stats .label {
    border-radius:2px;
    border: none;
    background-color: var(--palette-light-grey);
    color: var(--palette-grey);
    padding: 2px 4px;
    width: 48px;
    overflow: hidden;
    white-space: nowrap;
}

.topbar.small .two-label {
    width: 64px;
    margin-right: 3px;
    display: flex;
    vertical-align: middle;
}

.topbar.small .two-label .first {
    width: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--palette-grey);
    color: var(--palette-light-grey);
}

.topbar.small .two-label .second {
    width: calc(64px - 18px);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--palette-light-grey);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: var(--palette-grey);
}

.topbar.small .label.bold{
    font-size: 16px;
    font-weight:600;
    margin-right: 0;
    margin-left: 0;
}

.topbar.small input[type=text].symbol {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-top: 3px;
    width: 50px;
}

.spacer {
    width: 10px;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

#chart {
    width: 100%;
    height: 100%;
}

.axis {
    shape-rendering: crispEdges;
    font-size: 10px;
}

#layout0 .axis {
    font-size: 13px;
}

.full {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.layout.hidden{
    display:none!important;
}

.vertical-half {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex; align-items: center;
}

.vertical-75 {
    position: absolute;
    width: 75%;
    height: 100%;
    display: flex; align-items: center;
}

.horizontal-half {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex; align-items: center
}

.horizontal-half.bottom{
    top: 50%;
}

.horizontal-half.top{
    top: 0;
    border-bottom: 1px solid var(--palette-light-grey);
}

.quadrant {
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex; align-items: center;
}

.quadrant-25 {
    position: absolute;
    width: 25%;
    height: 50%;
    display: flex; align-items: center;
}

.quadrant-25.top-right{ 
    left: 75%;
    top: 0;
}

.quadrant-25.bottom-right{ 
    left: 75%;
    top: 50%;
}

.quadrant.top-left {
    border-bottom: 1px solid var(--palette-light-grey);
    border-right: 1px solid var(--palette-light-grey);
}

.quadrant.bottom-right {
    border-top: 1px solid var(--palette-light-grey);
    border-left: 1px solid var(--palette-light-grey);
}

.border {
    width: 96%;
    height: 92%;
    margin: 0 auto;
}

.top-left {
    top: 0;
    left: 0;
}

.bottom-left {
    top: 50%;
    left: 0;
}

.top-right {
    top: 0;
    left: 50%;
}

.bottom-right {
    top: 50%;
    left: 50%;
}

.plot {
    width: 100%;
    height: 100%;
}

.band { fill: darkgrey; fill-opacity: 0; stroke-opacity: 0; pointer-events: all; shape-rendering: crispEdges; }
.bands .hoved { fill-opacity: .6; }

.stems .hoved { stroke: black; }
.candles .hoved { stroke: black; }
.volumes .hoved { stroke: black; }

.grid .tick line {
    stroke: lightgrey;
}
.grid path {
      stroke-width: 0;
}

.button-group {
    display: flex;
    align-items: center;
}

.loader {
    border: 10px solid var(--palette-light-grey); /* Light grey */
    border-top: 10px solid var(--palette-grey); /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
    left: calc(50% - 45px);
    position: absolute;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex; align-items: center;
}

.loader-container.hidden{
    display: none;
}

.layout-options {
    width: 100%;
    display: block; align-items: center;
}

.layout-button {
    padding: 10px 5px;
    /* width: 100%; */
    height: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: var(--palette-light-grey);
    border-radius: 5px;
}

.layout-label {
    text-align: center;
    display: inline-block;
    padding: 4px 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.layout-button.active {
    background-color: var(--palette-dark-grey);
    color: var(--palette-light-grey);
}

.layout-0 {
    width: 150px;
    height: 100px;
    border-radius: 2px;
    border: 1px solid var(--palette-grey);
    margin: 0 auto;
}

.layout-1 {
    width: 150px;
    height: 100px;
    border-radius: 2px;
    border: 1px solid var(--palette-grey);
    margin: 0 auto;
}

.layout-1 .half {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid var(--palette-grey);
}

.layout-2 {
    width: 150px;
    height: 100px;
    border-radius: 2px;
    border: 1px solid var(--palette-grey);
    margin: 0 auto;
    position: relative;
}

.layout-2 .q-top-left {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--palette-grey);
    border-right: 1px solid var(--palette-grey);
}

.layout-2 .q-bottom-right {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    border-top: 1px solid var(--palette-grey);
    border-left: 1px solid var(--palette-grey);
}

#reset {
    margin-top: 100px;
    background-color: #e08c87;
    border: none;
    border-radius: 5px;
    color: var(--palette-dark-grey);
    width: 50px;
    padding: 5px 5px;
}