@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --palettte-off-white: #f9f9f9;
    --palette-light-grey: #D3D3D3;
    --palette-transparent-grey: #d3d3d33d;
    --palette-dark-grey: #373737;
    --palette-almost-black: #060D13;
    --palette-grey: #6f6f6f;
    --sidebar-width: 250px;
    /* --palette-grey: #a5a5a5; */
}

.layout-options {
}

.layout-options .button {
    background-color: var(--palette-light-grey);
    cursor: pointer;
    display: block;
    width: 50%;
    padding: 5px 10px;
    color: var(--palette-dark-grey);
    border: 1px solid black;
    text-decoration: none;
    margin: 0 auto;
}

.layout-options .button.active{
    background-color: var(--palette-dark-grey);
    color: white;
}

.layout-options .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.logo-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-container h1 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.sidebar {
    position: absolute;
    top: 0;
    padding: 0;
    background-color: var(--palettte-off-white);
    border-right: 1px solid var(--palette-dark-grey);
    z-index: 10;
    width: var(--sidebar-width);
    height: 100%;
    transition: all .1s linear 0s;
    padding: 10px 10px;
    box-sizing: border-box;
    color: var(--palette-dark-grey);
}

.sidebar.hidden{
    margin-left: calc(var(--sidebar-width)*-1);
    transition: all .1s linear 0s;
}

.main{
    width: 100%;
    height: 100%;
}

.main.hidden{
    left: var(--sidebar-width);
}

.topbar {
    padding-left: 7px;
    font-size: 10px;
    width: 100%;
    height: 25px;
    float: left;
    position: absolute;
    vertical-align: middle;
    display: flex; align-items: center;
}

.topbar .control {
    display: flex; align-items: center;
    width: 60%;
}

.topbar .stats {
    display: flex; align-items: center;
    margin-right: 15px;
    margin-left: auto;
}

.topbar .stats .label {
    border-radius:2px;
    border: none;
    background-color: var(--palette-light-grey);
    color: var(--palette-grey);
    padding: 2px 4px;
    width: 55px;
    overflow: hidden;
    white-space: nowrap;
}

.topbar .button {
    background-color: var(--palette-light-grey);
    border: none;
    color: var(--palette-grey);
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 1px;
    margin-left: 1px;
    vertical-align: middle;
    align-items: center;
}

.topbar .button.active {
    background-color: var(--palette-grey);
    color: white;
}

.topbar .label {
    font-size: 12px;
    margin-right:3px;
}

.topbar .label.bold{
    font-size: 16px;
    font-weight:600;
    margin-right:3px;
}

.spacer {
    width: 10px;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

#chart {
    width: 100%;
    height: 100%;
}

.axis {
    shape-rendering: crispEdges;
}

.full {
    width: 100%;
    height: 100%;
}

.layout.hidden{
    display:none!important;
}

.quadrant {
    position: absolute;
    width: 50%;
    height: 50%;
    border: 1px solid var(--palette-transparent-grey);
    display: flex; align-items: center
}

.border {
    width: 96%;
    height: 92%;
    margin: 0 auto;
}

.top-left {
    top: 0;
    left: 0;
}

.bottom-left {
    top: 50%;
    left: 0;
}

.top-right {
    top: 0;
    left: 50%;
}

.bottom-right {
    top: 50%;
    left: 50%;
}

.plot {
    width: 100%;
    height: 100%;
}

.band { fill: darkgrey; fill-opacity: 0; stroke-opacity: 0; pointer-events: all; shape-rendering: crispEdges; }
.bands .hoved { fill-opacity: .6; }

.stems .hoved { stroke: black; }
.candles .hoved { stroke: black; }
.volumes .hoved { stroke: black; }

.grid .tick line {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}