html,body{
    font-family: 'Lato', sans-serif;
    border:none;
    font-weight:200;
    margin: 0;
}

#particles-js {
    position:fixed;
    width:100%;
    height:100%;
    background-color:#ffffff;
    z-index:-2;
}

.particles-js-canvas-el {
    position: absolute;
    z-index:-1;
}

p{
    font-family: 'Lato', sans-serif;
    color:rgba(0, 0, 0, 0.6);
}

h1{
    font-size:50px;
    font-weight:600;
    font-family: 'Lato', sans-serif;
    color:rgba(0, 0, 0, 0.6);
}

.class-list{
    padding: 0;
    list-style-type: none;
}

.class-row{
    font-size:20px;
    margin-bottom:20px;
}

.error_shake {
    -webkit-animation: kf_shake 0.4s 1 linear;
    -moz-animation: kf_shake 0.4s 1 linear;
    -o-animation: kf_shake 0.4s 1 linear;
    color:#d39c9c!important;
}
@-webkit-keyframes kf_shake {
    0% { -webkit-transform: translate(30px); }
    20% { -webkit-transform: translate(-30px); }
    40% { -webkit-transform: translate(15px); }
    60% { -webkit-transform: translate(-15px); }
    80% { -webkit-transform: translate(8px); }
    100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes kf_shake {
    0% { -moz-transform: translate(30px); }
    20% { -moz-transform: translate(-30px); }
    40% { -moz-transform: translate(15px); }
    60% { -moz-transform: translate(-15px); }
    80% { -moz-transform: translate(8px); }
    100% { -moz-transform: translate(0px); }
}
@-o-keyframes kf_shake {
    0% { -o-transform: translate(30px); }
    20% { -o-transform: translate(-30px); }
    40% { -o-transform: translate(15px); }
    60% { -o-transform: translate(-15px); }
    80% { -o-transform: translate(8px); }
    100% { -o-origin-transform: translate(0px); }
}

#birthday::-webkit-datetime-edit{ color: transparent; }
/* Include this to make it visible when input is clicked */
#birthday:focus::-webkit-datetime-edit{ color: rgba(0, 0, 0, 0.5); }

section.main{
    display:none;
}

section#enter-age{
    display:none;
}

section#enter-name{
    display:none;
}

.left-container{
    position:absolute;
    top:40%;
    left:30%;
    transform: translate(-50%, -50%);
    width:40%;
    color:rgba(0, 0, 0, 0.6);
    padding:10px;
}

.class-code{
    font-size:25px;
    color:black;
}

.right-container{
    position:absolute;
    top:20%;
    left:76%;
    width:40%;
    transform: translate(-50%, -0%);
    color:rgba(0, 0, 0, 0.6);
    padding:10px;
    display:none;
}

.time{
    font-size:25px;
    margin-bottom:20px;
}

#hello{
    display: none;
    margin: 0;
    font-size: 60;
    text-decoration: none;
}

.age{
    display: none;
    font-size:30px;
    margin-bottom:120px;
}

.fact{
    font-size:15px;
    margin-top:15px;
}

strong{
    font-weight:800;
    font-size:25px;
    color:rgba(0, 0, 0, 0.8);
}

#apps{
    visibility: hidden;
}

button.cb-1{
    right:0;
    font-family: 'Lato', sans-serif;
    background:#9cadd3;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
button.cb-1:hover{
    background:rgb(238, 238, 238);
    color:#9cadd3;
}
button.cb-1:before,button.cb-1:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #9cadd3;
    transition:400ms ease all;
}
button.cb-1:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
button.cb-1:hover:before,button.cb-1:hover:after{
    width:100%;
    transition:800ms ease all;
}
  
.columns {
    display: none;       
    grid-template-columns: repeat(3, 220px);            /* 2 */
    grid-auto-rows: 210px;                              /* 3 */
    grid-gap: 25px;                                    /* 4 */
    justify-content: center;
    margin-left:-25px;
}


[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }
  .column {
    height: 220px;
    width: 230px;
    flex: 0 0 50px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: rgb(230, 230, 230);
    margin: 7px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: move;
  }
  .column header {
    height: 30px;
    color: #fff;
    padding: 4px;
    font-size:18;
    background:#a5b7df;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .column-long{
      height:455px;
  }

  .column.over {
    border: 2px dashed rgba(0, 0, 0, 0.6);
  }

  .column-inner{
      padding:10px;
      width:100%;
      height:260px;
  }

  .date-container{
    background: white;
    height:160px;
    width:140px;
    border-radius:5px;
    margin: auto;
    
    border: 1px solid rgba(0, 0, 0, 0.6);
    position:relative;
  }

  .date-container header {
    height: 30px;
    color: #fff;
    padding: 4px;
    font-size:18;
    background:#e65050;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  #time-number {
      margin-top:13px;
      font-size:60;
      color:rgba(0, 0, 0, 0.6);
  }

  #time-day{
      position: absolute;
      bottom:5;
      padding-top:3px;
      width:100%;
      font-size:18;
      color:rgba(0, 0, 0, 0.6);
      text-align: center;
      border-top: 1px solid rgba(0, 0, 0, 0.6);
  }

  .row {
      display: flex;
      justify-content: center;
  }

  .clock-wrapper{
            position: absolute;
            width: 175px;
            height: 175px;
            margin: auto;

            background-image: linear-gradient(#f7f7f7,#e0e0e0);
            border-radius: 50%;
            box-shadow: 0 10px 15px rgba(0,0,0,.15),0 2px 2px rgba(0,0,0,.2);
        }
        .clock-base{
            width: 175px;
            height: 175px;
            background-color: #eee;
            border-radius: 50%;
            box-shadow: 0 0 5px #eee;
        }
        .click-indicator{
            position: absolute;
            z-index: 2;
            width: 175px;
            height: 175px;
        }
        .click-indicator div{
            position: absolute;
            width: 2px;
            height: 6px;
            margin: 85px 86px;
            background-color: #ddd;
        }
        .click-indicator div:nth-child(1) {
            transform: rotate(30deg) translateY(-80px);
        }
        .click-indicator div:nth-child(2) {
            transform: rotate(60deg) translateY(-80px);
        }
        .click-indicator div:nth-child(3) {
            transform: rotate(90deg) translateY(-80px);
            background-color: #aaa;
        }
        .click-indicator div:nth-child(4) {
            transform: rotate(120deg) translateY(-80px);
        }
        .click-indicator div:nth-child(5) {
            transform: rotate(150deg) translateY(-80px);
        }
        .click-indicator div:nth-child(6) {
            transform: rotate(180deg) translateY(-80px);
            background-color: #aaa;
        }
        .click-indicator div:nth-child(7) {
            transform: rotate(210deg) translateY(-80px);
        }
        .click-indicator div:nth-child(8) {
            transform: rotate(240deg) translateY(-80px);
        }
        .click-indicator div:nth-child(9) {
            transform: rotate(270deg) translateY(-80px);
            background-color: #aaa;
        }
        .click-indicator div:nth-child(10) {
            transform: rotate(300deg) translateY(-80px);
        }
        .click-indicator div:nth-child(11) {
            transform: rotate(330deg) translateY(-80px);
        }
        .click-indicator div:nth-child(12) {
            transform: rotate(360deg) translateY(-80px);
            background-color: #c00;
        }
        .clock-hour{
            position: absolute;
            z-index: 2;
            top: 30px;
            left: 56px;
            width: 3px;
            height: 40px;
            background-color: #555;
            box-shadow: 0 0 2px rgba(0,0,0,.2);
            transform-origin: 1px 75px;
            transition: .5s;
            -webkit-animation: rotate-hour 43200s linear infinite;
            -moz-animation: rotate-hour 43200s linear infinite;
        }
        .clock-minute{
            position: absolute;
            z-index: 3;
            top: 29px;
            left: 85px;
            width: 2px;
            height: 60px;
            background-color: #555;
            box-shadow: 0 0 2px rgba(0,0,0,.2);
            transform-origin: 1px 75px;
            transition: .5s;
            -webkit-animation: rotate-minute 3600s linear infinite;
            -moz-animation: rotate-minute 3600s linear infinite;
        }
        .clock-second{
            position: absolute;
            z-index: 4;
            top: 13px;
            left: 87px;
            width: 2px;
            height: 75px;
            background-color: #a00;
            box-shadow: 0 0 2px rgba(0,0,0,.2);
            transform-origin: 1px 75px;
            transition: .5s;
            -webkit-animation: rotate-second 60s linear infinite;
            -moz-animation: rotate-second 60s linear infinite;
        }
        .clock-second:after{
            content: "";
            display: block;
            position: absolute;
            left: -3px;
            bottom: -4px;
            width: 8px;
            height: 8px;
            background-color: #a00;
            border: solid 2px #a00;
            border-radius: 50%;
            box-shadow: 0 0 3px rgba(0,0,0,.2);
        }
        .clock-center{
            position: absolute;
            z-index: 1;
            width: 115px;
            height: 115px;
            top: 30px;
            left: 30px;
            background-image: linear-gradient(#e3e3e3,#f7f7f7);
            border-radius: 50%;
            box-shadow: inset 0 -1px 0 #fafafa, inset 0 1px 0 #e3e3e3;
        }
        .clock-center:after{
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            margin: 50px;
            background-color: #ddd;
            border-radius: 50%;
        }