html,body{
    font-family: 'Lato', sans-serif;
    background:rgba(0,0,0,0.4);
    border:none;
    font-weight:200;
}

p{
    font-family: 'Lato', sans-serif;
    color:rgba(255, 255, 255, 0.75);
}

h1{
    font-size:50px;
    font-weight:600;
    font-family: 'Lato', sans-serif;
    color:white;
}

.class-list{
    padding: 0;
    list-style-type: none;
}

.class-row{
    font-size:20px;
    margin-bottom:20px;
}

.left-container{
    position:absolute;
    top:40%;
    left:30%;
    transform: translate(-50%, -50%);
    width:40%;
    color:rgba(255, 255, 255, 0.75);
    padding:10px;
}

.class-code{
    font-size:25px;
    color:white;
}

.right-container{
    position:absolute;
    top:20%;
    left:76%;
    width:40%;
    transform: translate(-50%, -0%);
    color:rgba(255, 255, 255, 0.75);
    padding:10px;
}

.time{
    font-size:25px;
    margin-bottom:20px;
    display:none;
}

#hello{
    display:none;
    text-decoration: none;
}

.age{
    font-size:25px;
    margin-bottom:20px;
    display:none;
}

.fact{
    font-size:25px;
    display:none;
}

strong{
    font-weight:800;
    font-size:30px;
    color:white;
}

#apps{
    visibility: hidden;
}